* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
    box-sizing: border-box;
}
/* .addform{
    width: 50%;
} */
.addform input::placeholder {
    color: black;
}

.addform textarea::placeholder {
    color: black;
}

.addform input[type='text'] {
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    outline: 0;
    border-bottom: 2px solid black;
}

.addform textarea {
    outline: 0;
    border: 2px solid black;
}

#addForm {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    background: #201d1dc2;
}

#header {
    background: linear-gradient(to right, #254cba, #1e9be2);
}

#header h4 {
    cursor: pointer;
}

#bookShow {
    background: rgb(168 175 181 / 25%);
}